{% extends "base.html" %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}
    <section class="home m-8 max-w-5xl flex-wrap">
    <div class="titulo flex justify-center items-center">
        <div class="w-5/12 mr-8 flex flex-col h-full -mt-8">
        <h1 class="text-white text-center text-2xl">
            Bienvenido a nuestro buffet de abogados
        </h1>
        <p class="w-full text-justify text-white">
            Aquí encontrarás a abogados que podrán ayudarte con cualquier problema
            que podrías llegar a tener, además de ser capaces de solucionar cualquier
            situación.
        </p>
        <div class="mt-8 flex flex-col items-center">
            <p class="text-white">¿Desea consultar una cita?</p>
            <a href="" class="nav-links p-4 rounded-2xl hover:bg-orange-600 ease-in-out duration-300 transition-all text-white border-white border-2 m-3">
            Solicitar cita
            </a>
            <p class="text-white">¿O preferiría conocer a nuestros abogados?</p>
            <a href="" class="nav-links p-4 rounded-2xl hover:bg-orange-600 ease-in-out duration-300 transition-all text-white border-white border-2 m-3">
            Conoce nuestros abogados
            </a>
        </div>
    </div>
    <img class="" src="{% static 'img/banner.avif' %}" alt="logo" />
    </div>
    </section>
{% endblock %}
