<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="" class="w-4 bg-cyan-400">inicio</a>
            <a href="" class="nav-links">casos</a>
            <a href="" class="nav-links">abogados</a>
            <a href="" class="nav-links">iniciar sesion</a>
            <a href="" class="nav-links">registrarse</a>
        </nav>
    </header>
</body>
</html>