<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <nav>
        <ul>
            {% if user.is_authenticated %}
            
                {% if user.is_superuser %}
                <li>
                    <a href="{% url 'CrearAbogados' %}">Registrar abogado</a>
                </li>

                {% endif %}
            <li>
                <a href="{% url 'CerrarSesion' %}">Cerrar Sesion</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'IniciarSesionUsuarios' %}">Iniciar Sesion</a>
            </li>
            <li>
                <a href="{% url 'RegistroUsuarios' %}">Registrarse</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>